<form action="">
    <div class="row">
        <div class="col-4 col-md-3">
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {{ form.name }}
        </div>
        <div class="col-4 col-md-3">
            <label for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
            {{ form.phone_number }}
        </div>
        <div class="col-3 align-self-end">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
            
    </div>
</form>